@font-face {
	font-family: 'Max';
	src: url(../../assets/fonts/Max-d9d69811d73acbf698e5de14a0f41040.eot) format('embedded-opentype'),
	url(../../assets/fonts/Max-d9d69811d73acbf698e5de14a0f41040.eot) format('embedded-opentype'),
	url(../../assets/fonts/Max-bcc1195c564837b62f39b77416fad2a3.woff2) format('woff2'),
	url(../../assets/fonts/Max-184ace69ab41757a52205466dd95bfe8.woff) format('woff'),
	url(../../assets/fonts/Max-fc5223ca2e99a67117d205a6e3e22690.ttf) format('truetype'),
	url(../../assets/fonts/Max-3f3f270cb58e1fbb95ca660a443fd73b.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Max';
	src: url(../../assets/fonts/Max-3b7cb5deb37f4e510aa9977a053b0fb7.eot) format('embedded-opentype'),
	url(../../assets/fonts/Max-3b7cb5deb37f4e510aa9977a053b0fb7.eot) format('embedded-opentype'),
	url(../../assets/fonts/Max-bff4dfba87a1bcdccac4ddb2dfc2f33d.woff2) format('woff2'),
	url(../../assets/fonts/Max-f9210f92b627fa0f14f1dbadcd810a6b.woff) format('woff'),
	url(../../assets/fonts/Max-3732284e60079f6c4d32043dea85dd64.ttf) format('truetype'),
	url(../../assets/fonts/Max-c379cdf707611885bea08b3a8dc44998.svg) format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}